<%= simple_form_for [:admin, @editory], :html => { :class => 'form-vertical' } do |f| %>
  <div class="block block-rounded block-themed">
    <div class="block-content">
      <%= f.input :name %>
      <%= f.input :slug %>
      <%= f.input :status %>
      <%= f.input :priority %>
      <%= f.input :menu %>
    </div>
    <div class="actions">
      <%= f.submit nil, :class => 'btn btn-primary', :data => {:disable_with => 'Salvando...'} %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    admin_editories_path, :class => 'btn btn-secondary' %>
    </div>
  </div>

<% end %>
