<%= bootstrap_form_for [:admin, @news], layout: :vertical do |f| %>
  <div class="block block-rounded block-themed">
    <div class="block-content">
      <%= f.file_field :image %>
      <%= f.collection_select :county_id, County.all.order(name: :asc), :id, :name, { prompt: 'Selecione a Editoria' }, {class: ''} %>
      <%#= f.text_field :subtitle %>
      <%= f.text_field :title %>
      <%= f.text_area :content, id: "article-ckeditor" %>
      <%= f.date_field :published_at, class: 'w-auto' %>
    </div>
    <div class="actions">
      <%= f.submit nil, :class => 'btn btn-primary', :data => {:disable_with => 'Salvando...'} %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    admin_news_index_path, :class => 'btn btn-secondary' %>
    </div>
  </div>
<% end %>

<script>
setTimeout(function(){
  CKEDITOR.replace( 'article-ckeditor',{"customConfig":"<%= asset_path('ckeditor/config.js') %>"} ) //Your selector must match the textarea ID
},400);
</script>