<%- model_class = Article -%>
<%= content_for :page_header do %>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_admin_article_path, :class => 'btn btn-primary' %>
<% end %>
<% if @articles.present? %>
  <div class="table-responsive">
    <table class="table table-rounded bg-white table-striped table-hover shadow-sm">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:image) %></th>
          <th><%= model_class.human_attribute_name(:editory_id) %></th>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= sort_link(@q, :count, 'Visualizações', default_order: :desc) %></th>
          <th><%= model_class.human_attribute_name(:published_at) %></th>
          <th><%= model_class.human_attribute_name(:status) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.id, admin_article_path(article) %></td>
            <td><%= image_tag url_for(article.image), style: "width: 120px;", class: 'img-fluid rounded' if article.image.attached? %></td>
            <td><%= article.try(:editory).try(:name) %></td>
            <td><%= article.title %></td>
            <td><%= article.count %></td>
            <td><%= article.published_at %></td>
            <td><%= article.status_i18n %></td>
            <td><%=l article.created_at %></td>
            <td class="options">
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_article_path(article), :class => 'btn btn-primary btn-sm' %>
              <%= link_to "Habilitar",
                      enable_admin_article_path(article), :method => :post, :class => 'btn btn-success btn-sm' if article.status == "disabled" %>
              <%= link_to "Desabilitar",
                      admin_article_path(article),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-sm' if article.status == "enabled" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<div class="paginateBox">
  <%= paginate @articles %>
  <%= page_entries_info @articles %>
</div>
