<div class="flex w-full flex-col px-4 xl:px-16 lg:px-16 mt-8">
  <span class="font-bold text-4xl">Youtube</span>
  <div class="flex mt-4 w-full flex-col lg:flex-row xl:flex-row">
    <div class="flex flex-col w-full lg:w-2/3 xl:w-2/3">
      <div class="relative cardImageHeight hasSmall flex w-full bg-gray-500 rounded-t-lg video-container">
        <iframe id="iframe" src='' frameborder='0' allowfullscreen></iframe> 
      </div>
      <hr class="w-full bg-gray-600 h-1 my-8" />
      <span class="font-bold text-4xl">Mais Videos</span>
      <div class="flex flex-col lg:flex-row xl:flex-row mt-12 w-full flex-wrap">
        <% Video.all.shuffle.last(5).each_with_index do |video, index| %>
          <% if index.even? %>
            <%= render "layouts/components/site/cards/video_card", image: video.image, title: video.title, url: video_path(video), margin: true %>
          <% else %>
            <%= render "layouts/components/site/cards/video_card", image: video.image, title: video.title, url: video_path(video) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col w-full xl:w-1/3 lg:w-1/3 ml-0 mt-4 lg:mt-0 xl:mt-0 lg:ml-8 xl:ml-8">
      <%= render "layouts/components/site/side_banners" %>
      <%= render "layouts/components/site/social_networks" %>
    </div>
  </div>
</div>

<script>
function youtube_parser(url){
    var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
    var match = url.match(regExp);
    return (match&&match[7].length==11)? match[7] : false;
}

let link = `https://youtube.com/embed/${youtube_parser("<%= @media.link%>")}`
$("#iframe").attr("src", link)
</script>