<div class="flex w-full flex-col px-4 xl:px-16 lg:px-16 mt-8">
  <div class="flex mt-2 w-full flex-col lg:flex-row xl:flex-row">
    <div class="flex bg-white p-8 flex-col w-full lg:w-2/3 xl:w-2/3 shadow">
      <div class="bg-blue-700 text-white font-semibold w-fit mb-4 text-xs rounded py-2 px-2">Coluna social</div>
      <span class="font-semibold text-4xl"><%= @event.title %></span>
      <span class="font-semibold text-xs text-gray-400 mt-8"><%= @event.created_at.strftime("%d/%m/%Y") %></span>  
      <div class="w-full mt-4 mb-16">
        <%= image_tag url_for(@event.image), class: "w-full h-full" %>
      </div>
      <%= @event.description.html_safe %>
      <div class="flex mt-8 items-center">
        <!--i class="text-lg fas fa-tags mr-2 text-sm"></i><span class="font-bold mr-8">TAGS</span>
        <span class="bg-gray-400 px-4 py-2 mr-4 font-bold text-sm">IPSUM</span>
        <span class="bg-gray-400 px-4 py-2 mr-4 font-bold text-sm">IPSUM</span>
        <span class="bg-gray-400 px-4 py-2 mr-4 font-bold text-sm">IPSUM</span-->
      </div>
      
    </div>
    <div class="flex flex-col w-full xl:w-1/3 lg:w-1/3 ml-0 mt-4 lg:mt-0 xl:mt-0 lg:ml-8 xl:ml-8">
      <div class="flex flex-col  bg-white px-6 py-8 shadow rounded">
        <span class="mb-2 font-bold">MAIS LIDAS</span>
        <% @most_articles.each do |article| %>
          <%= render "layouts/components/site/most_reads",url: article_path(article), image: article.image, title: article.title, published_at: article.published_at.strftime("%d/%m/%Y") %>
        <% end %>
      </div>
      <%= render "layouts/components/site/side_banners" %>
      <%= render "layouts/components/site/social_networks" %>
    </div>
  </div>
</div>