<%- model_class = Contact -%>
<%= content_for :page_header do %>
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
<% end %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @contact.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @contact.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
  <dd><%= @contact.message %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @contact.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @contact.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @contact.phone %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              admin_contacts_path, :class => 'btn btn-secondary'  %>
