<%- model_class = Medium -%>
<%= content_for :page_header do %>
  <h1>Link do Youtube</h1>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:link) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @videos.each do |video| %>
      <tr class="options">
        <td><%= video.id %></td>
        <td><%= video.link %></td>
        <td><%=l video.created_at %></td>
        <td class="options">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_media_path(video), :class => 'btn btn-primary btn-sm' %>
      </tr>
    <% end %>
  </tbody>
</table>

