<%= simple_form_for [:admin, @blog], :html => { :class => 'form-vertical' } do |f| %>
  <div class="block block-rounded block-themed">
    <div class="block-content">
      <%= f.association :user %>
      <%= f.input :photo %>
      <%= f.input :background %>
      <%= f.input :name %>
    </div>
    <div class="actions">
      <%= f.submit nil, :class => 'btn btn-primary', :data => {:disable_with => 'Salvando...'} %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    admin_blogs_path, :class => 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
